[{:nation "AALAND ISLANDS"                                 :a2 "AX"     :a3 "ALA"    :code "248"}
 {:nation "AFGHANISTAN"                                    :a2 "AF"     :a3 "AFG"    :code "004"}
 {:nation "ALBANIA"                                        :a2 "AL"     :a3 "ALB"    :code "008"}
 {:nation "ALGERIA"                                        :a2 "DZ"     :a3 "DZA"    :code "012"}
 {:nation "AMERICAN SAMOA"                                 :a2 "AS"     :a3 "ASM"    :code "016"}
 {:nation "ANDORRA"                                        :a2 "AD"     :a3 "AND"    :code "020"}
 {:nation "ANGOLA"                                         :a2 "AO"     :a3 "AGO"    :code "024"}
 {:nation "ANGUILLA"                                       :a2 "AI"     :a3 "AIA"    :code "660"}
 {:nation "ANTARCTICA"                                     :a2 "AQ"     :a3 "ATA"    :code "010"}
 {:nation "ANTIGUA AND BARBUDA"                            :a2 "AG"     :a3 "ATG"    :code "028"}
 {:nation "ARGENTINA"                                      :a2 "AR"     :a3 "ARG"    :code "032"}
 {:nation "ARMENIA"                                        :a2 "AM"     :a3 "ARM"    :code "051"}
 {:nation "ARUBA"                                          :a2 "AW"     :a3 "ABW"    :code "533"}
 {:nation "AUSTRALIA"                                      :a2 "AU"     :a3 "AUS"    :code "036"}
 {:nation "AUSTRIA"                                        :a2 "AT"     :a3 "AUT"    :code "040"}
 {:nation "AZERBAIJAN"                                     :a2 "AZ"     :a3 "AZE"    :code "031"}
 {:nation "BAHAMAS"                                        :a2 "BS"     :a3 "BHS"    :code "044"}
 {:nation "BAHRAIN"                                        :a2 "BH"     :a3 "BHR"    :code "048"}
 {:nation "BANGLADESH"                                     :a2 "BD"     :a3 "BGD"    :code "050"}
 {:nation "BARBADOS"                                       :a2 "BB"     :a3 "BRB"    :code "052"}
 {:nation "BELARUS"                                        :a2 "BY"     :a3 "BLR"    :code "112"}
 {:nation "BELGIUM"                                        :a2 "BE"     :a3 "BEL"    :code "056"}
 {:nation "BELIZE"                                         :a2 "BZ"     :a3 "BLZ"    :code "084"}
 {:nation "BENIN"                                          :a2 "BJ"     :a3 "BEN"    :code "204"}
 {:nation "BERMUDA"                                        :a2 "BM"     :a3 "BMU"    :code "060"}
 {:nation "BHUTAN"                                         :a2 "BT"     :a3 "BTN"    :code "064"}
 {:nation "BOLIVIA"                                        :a2 "BO"     :a3 "BOL"    :code "068"}
 {:nation "BOSNIA AND HERZEGOWINA"                         :a2 "BA"     :a3 "BIH"    :code "070"}
 {:nation "BOTSWANA"                                       :a2 "BW"     :a3 "BWA"    :code "072"}
 {:nation "BOUVET ISLAND"                                  :a2 "BV"     :a3 "BVT"    :code "074"}
 {:nation "BRAZIL"                                         :a2 "BR"     :a3 "BRA"    :code "076"}
 {:nation "BRITISH INDIAN OCEAN TERRITORY"                 :a2 "IO"     :a3 "IOT"    :code "086"}
 {:nation "BRUNEI DARUSSALAM"                              :a2 "BN"     :a3 "BRN"    :code "096"}
 {:nation "BULGARIA"                                       :a2 "BG"     :a3 "BGR"    :code "100"}
 {:nation "BURKINA FASO"                                   :a2 "BF"     :a3 "BFA"    :code "854"}
 {:nation "BURUNDI"                                        :a2 "BI"     :a3 "BDI"    :code "108"}
 {:nation "CAMBODIA"                                       :a2 "KH"     :a3 "KHM"    :code "116"}
 {:nation "CAMEROON"                                       :a2 "CM"     :a3 "CMR"    :code "120"}
 {:nation "CANADA"                                         :a2 "CA"     :a3 "CAN"    :code "124"}
 {:nation "CAPE VERDE"                                     :a2 "CV"     :a3 "CPV"    :code "132"}
 {:nation "CAYMAN ISLANDS"                                 :a2 "KY"     :a3 "CYM"    :code "136"}
 {:nation "CENTRAL AFRICAN REPUBLIC"                       :a2 "CF"     :a3 "CAF"    :code "140"}
 {:nation "CHAD"                                           :a2 "TD"     :a3 "TCD"    :code "148"}
 {:nation "CHILE"                                          :a2 "CL"     :a3 "CHL"    :code "152"}
 {:nation "CHINA"                                          :a2 "CN"     :a3 "CHN"    :code "156"}
 {:nation "CHRISTMAS ISLAND"                               :a2 "CX"     :a3 "CXR"    :code "162"}
 {:nation "COCOS (KEELING) ISLANDS"                        :a2 "CC"     :a3 "CCK"    :code "166"}
 {:nation "COLOMBIA"                                       :a2 "CO"     :a3 "COL"    :code "170"}
 {:nation "COMOROS"                                        :a2 "KM"     :a3 "COM"    :code "174"}
 {:nation "CONGO, Democratic Republic of (was Zaire)"      :a2 "CD"     :a3 "COD"    :code "180"}
 {:nation "CONGO, Republic of"                             :a2 "CG"     :a3 "COG"    :code "178"}
 {:nation "COOK ISLANDS"                                   :a2 "CK"     :a3 "COK"    :code "184"}
 {:nation "COSTA RICA"                                     :a2 "CR"     :a3 "CRI"    :code "188"}
 {:nation "COTE D'IVOIRE"                                  :a2 "CI"     :a3 "CIV"    :code "384"}
 {:nation "CROATIA (local name: Hrvatska)"                 :a2 "HR"     :a3 "HRV"    :code "191"}
 {:nation "CUBA"                                           :a2 "CU"     :a3 "CUB"    :code "192"}
 {:nation "CYPRUS"                                         :a2 "CY"     :a3 "CYP"    :code "196"}
 {:nation "CZECH REPUBLIC"                                 :a2 "CZ"     :a3 "CZE"    :code "203"}
 {:nation "DENMARK"                                        :a2 "DK"     :a3 "DNK"    :code "208"}
 {:nation "DJIBOUTI"                                       :a2 "DJ"     :a3 "DJI"    :code "262"}
 {:nation "DOMINICA"                                       :a2 "DM"     :a3 "DMA"    :code "212"}
 {:nation "DOMINICAN REPUBLIC"                             :a2 "DO"     :a3 "DOM"    :code "214"}
 {:nation "ECUADOR"                                        :a2 "EC"     :a3 "ECU"    :code "218"}
 {:nation "EGYPT"                                          :a2 "EG"     :a3 "EGY"    :code "818"}
 {:nation "EL SALVADOR"                                    :a2 "SV"     :a3 "SLV"    :code "222"}
 {:nation "EQUATORIAL GUINEA"                              :a2 "GQ"     :a3 "GNQ"    :code "226"}
 {:nation "ERITREA"                                        :a2 "ER"     :a3 "ERI"    :code "232"}
 {:nation "ESTONIA"                                        :a2 "EE"     :a3 "EST"    :code "233"}
 {:nation "ETHIOPIA"                                       :a2 "ET"     :a3 "ETH"    :code "231"}
 {:nation "FALKLAND ISLANDS (MALVINAS)"                    :a2 "FK"     :a3 "FLK"    :code "238"}
 {:nation "FAROE ISLANDS"                                  :a2 "FO"     :a3 "FRO"    :code "234"}
 {:nation "FIJI"                                           :a2 "FJ"     :a3 "FJI"    :code "242"}
 {:nation "FINLAND"                                        :a2 "FI"     :a3 "FIN"    :code "246"}
 {:nation "FRANCE"                                         :a2 "FR"     :a3 "FRA"    :code "250"}
 {:nation "FRENCH GUIANA"                                  :a2 "GF"     :a3 "GUF"    :code "254"}
 {:nation "FRENCH POLYNESIA"                               :a2 "PF"     :a3 "PYF"    :code "258"}
 {:nation "FRENCH SOUTHERN TERRITORIES"                    :a2 "TF"     :a3 "ATF"    :code "260"}
 {:nation "GABON"                                          :a2 "GA"     :a3 "GAB"    :code "266"}
 {:nation "GAMBIA"                                         :a2 "GM"     :a3 "GMB"    :code "270"}
 {:nation "GEORGIA"                                        :a2 "GE"     :a3 "GEO"    :code "268"}
 {:nation "GERMANY"                                        :a2 "DE"     :a3 "DEU"    :code "276"}
 {:nation "GHANA"                                          :a2 "GH"     :a3 "GHA"    :code "288"}
 {:nation "GIBRALTAR"                                      :a2 "GI"     :a3 "GIB"    :code "292"}
 {:nation "GREECE"                                         :a2 "GR"     :a3 "GRC"    :code "300"}
 {:nation "GREENLAND"                                      :a2 "GL"     :a3 "GRL"    :code "304"}
 {:nation "GRENADA"                                        :a2 "GD"     :a3 "GRD"    :code "308"}
 {:nation "GUADELOUPE"                                     :a2 "GP"     :a3 "GLP"    :code "312"}
 {:nation "GUAM"                                           :a2 "GU"     :a3 "GUM"    :code "316"}
 {:nation "GUATEMALA"                                      :a2 "GT"     :a3 "GTM"    :code "320"}
 {:nation "GUINEA"                                         :a2 "GN"     :a3 "GIN"    :code "324"}
 {:nation "GUINEA-BISSAU"                                  :a2 "GW"     :a3 "GNB"    :code "624"}
 {:nation "GUYANA"                                         :a2 "GY"     :a3 "GUY"    :code "328"}
 {:nation "HAITI"                                          :a2 "HT"     :a3 "HTI"    :code "332"}
 {:nation "HEARD AND MC DONALD ISLANDS"                    :a2 "HM"     :a3 "HMD"    :code "334"}
 {:nation "HONDURAS"                                       :a2 "HN"     :a3 "HND"    :code "340"}
 {:nation "HONG KONG"                                      :a2 "HK"     :a3 "HKG"    :code "344"}
 {:nation "HUNGARY"                                        :a2 "HU"     :a3 "HUN"    :code "348"}
 {:nation "ICELAND"                                        :a2 "IS"     :a3 "ISL"    :code "352"}
 {:nation "INDIA"                                          :a2 "IN"     :a3 "IND"    :code "356"}
 {:nation "INDONESIA"                                      :a2 "ID"     :a3 "IDN"    :code "360"}
 {:nation "IRAN (ISLAMIC REPUBLIC OF)"                     :a2 "IR"     :a3 "IRN"    :code "364"}
 {:nation "IRAQ"                                           :a2 "IQ"     :a3 "IRQ"    :code "368"}
 {:nation "IRELAND"                                        :a2 "IE"     :a3 "IRL"    :code "372"}
 {:nation "ISRAEL"                                         :a2 "IL"     :a3 "ISR"    :code "376"}
 {:nation "ITALY"                                          :a2 "IT"     :a3 "ITA"    :code "380"}
 {:nation "JAMAICA"                                        :a2 "JM"     :a3 "JAM"    :code "388"}
 {:nation "JAPAN"                                          :a2 "JP"     :a3 "JPN"    :code "392"}
 {:nation "JORDAN"                                         :a2 "JO"     :a3 "JOR"    :code "400"}
 {:nation "KAZAKHSTAN"                                     :a2 "KZ"     :a3 "KAZ"    :code "398"}
 {:nation "KENYA"                                          :a2 "KE"     :a3 "KEN"    :code "404"}
 {:nation "KIRIBATI"                                       :a2 "KI"     :a3 "KIR"    :code "296"}
 {:nation "KOREA, DEMOCRATIC PEOPLE'S REPUBLIC OF"         :a2 "KP"     :a3 "PRK"    :code "408"}
 {:nation "KOREA, REPUBLIC OF"                             :a2 "KR"     :a3 "KOR"    :code "410"}
 {:nation "KUWAIT"                                         :a2 "KW"     :a3 "KWT"    :code "414"}
 {:nation "KYRGYZSTAN"                                     :a2 "KG"     :a3 "KGZ"    :code "417"}
 {:nation "LAO PEOPLE'S DEMOCRATIC REPUBLIC"               :a2 "LA"     :a3 "LAO"    :code "418"}
 {:nation "LATVIA"                                         :a2 "LV"     :a3 "LVA"    :code "428"}
 {:nation "LEBANON"                                        :a2 "LB"     :a3 "LBN"    :code "422"}
 {:nation "LESOTHO"                                        :a2 "LS"     :a3 "LSO"    :code "426"}
 {:nation "LIBERIA"                                        :a2 "LR"     :a3 "LBR"    :code "430"}
 {:nation "LIBYAN ARAB JAMAHIRIYA"                         :a2 "LY"     :a3 "LBY"    :code "434"}
 {:nation "LIECHTENSTEIN"                                  :a2 "LI"     :a3 "LIE"    :code "438"}
 {:nation "LITHUANIA"                                      :a2 "LT"     :a3 "LTU"    :code "440"}
 {:nation "LUXEMBOURG"                                     :a2 "LU"     :a3 "LUX"    :code "442"}
 {:nation "MACAU"                                          :a2 "MO"     :a3 "MAC"    :code "446"}
 {:nation "MACEDONIA, THE FORMER YUGOSLAV REPUBLIC OF"     :a2 "MK"     :a3 "MKD"    :code "807"}
 {:nation "MADAGASCAR"                                     :a2 "MG"     :a3 "MDG"    :code "450"}
 {:nation "MALAWI"                                         :a2 "MW"     :a3 "MWI"    :code "454"}
 {:nation "MALAYSIA"                                       :a2 "MY"     :a3 "MYS"    :code "458"}
 {:nation "MALDIVES"                                       :a2 "MV"     :a3 "MDV"    :code "462"}
 {:nation "MALI"                                           :a2 "ML"     :a3 "MLI"    :code "466"}
 {:nation "MALTA"                                          :a2 "MT"     :a3 "MLT"    :code "470"}
 {:nation "MARSHALL ISLANDS"                               :a2 "MH"     :a3 "MHL"    :code "584"}
 {:nation "MARTINIQUE"                                     :a2 "MQ"     :a3 "MTQ"    :code "474"}
 {:nation "MAURITANIA"                                     :a2 "MR"     :a3 "MRT"    :code "478"}
 {:nation "MAURITIUS"                                      :a2 "MU"     :a3 "MUS"    :code "480"}
 {:nation "MAYOTTE"                                        :a2 "YT"     :a3 "MYT"    :code "175"}
 {:nation "MEXICO"                                         :a2 "MX"     :a3 "MEX"    :code "484"}
 {:nation "MICRONESIA, FEDERATED STATES OF"                :a2 "FM"     :a3 "FSM"    :code "583"}
 {:nation "MOLDOVA, REPUBLIC OF"                           :a2 "MD"     :a3 "MDA"    :code "498"}
 {:nation "MONACO"                                         :a2 "MC"     :a3 "MCO"    :code "492"}
 {:nation "MONGOLIA"                                       :a2 "MN"     :a3 "MNG"    :code "496"}
 {:nation "MONTSERRAT"                                     :a2 "MS"     :a3 "MSR"    :code "500"}
 {:nation "MOROCCO"                                        :a2 "MA"     :a3 "MAR"    :code "504"}
 {:nation "MOZAMBIQUE"                                     :a2 "MZ"     :a3 "MOZ"    :code "508"}
 {:nation "MYANMAR"                                        :a2 "MM"     :a3 "MMR"    :code "104"}
 {:nation "NAMIBIA"                                        :a2 "NA"     :a3 "NAM"    :code "516"}
 {:nation "NAURU"                                          :a2 "NR"     :a3 "NRU"    :code "520"}
 {:nation "NEPAL"                                          :a2 "NP"     :a3 "NPL"    :code "524"}
 {:nation "NETHERLANDS"                                    :a2 "NL"     :a3 "NLD"    :code "528"}
 {:nation "NETHERLANDS ANTILLES"                           :a2 "AN"     :a3 "ANT"    :code "530"}
 {:nation "NEW CALEDONIA"                                  :a2 "NC"     :a3 "NCL"    :code "540"}
 {:nation "NEW ZEALAND"                                    :a2 "NZ"     :a3 "NZL"    :code "554"}
 {:nation "NICARAGUA"                                      :a2 "NI"     :a3 "NIC"    :code "558"}
 {:nation "NIGER"                                          :a2 "NE"     :a3 "NER"    :code "562"}
 {:nation "NIGERIA"                                        :a2 "NG"     :a3 "NGA"    :code "566"}
 {:nation "NIUE"                                           :a2 "NU"     :a3 "NIU"    :code "570"}
 {:nation "NORFOLK ISLAND"                                 :a2 "NF"     :a3 "NFK"    :code "574"}
 {:nation "NORTHERN MARIANA ISLANDS"                       :a2 "MP"     :a3 "MNP"    :code "580"}
 {:nation "NORWAY"                                         :a2 "NO"     :a3 "NOR"    :code "578"}
 {:nation "OMAN"                                           :a2 "OM"     :a3 "OMN"    :code "512"}
 {:nation "PAKISTAN"                                       :a2 "PK"     :a3 "PAK"    :code "586"}
 {:nation "PALAU"                                          :a2 "PW"     :a3 "PLW"    :code "585"}
 {:nation "PALESTINIAN TERRITORY, OCCUPIED"                :a2 "PS"     :a3 "PSE"    :code "275"}
 {:nation "PANAMA"                                         :a2 "PA"     :a3 "PAN"    :code "591"}
 {:nation "PAPUA NEW GUINEA"                               :a2 "PG"     :a3 "PNG"    :code "598"}
 {:nation "PARAGUAY"                                       :a2 "PY"     :a3 "PRY"    :code "600"}
 {:nation "PERU"                                           :a2 "PE"     :a3 "PER"    :code "604"}
 {:nation "PHILIPPINES"                                    :a2 "PH"     :a3 "PHL"    :code "608"}
 {:nation "PITCAIRN"                                       :a2 "PN"     :a3 "PCN"    :code "612"}
 {:nation "POLAND"                                         :a2 "PL"     :a3 "POL"    :code "616"}
 {:nation "PORTUGAL"                                       :a2 "PT"     :a3 "PRT"    :code "620"}
 {:nation "PUERTO RICO"                                    :a2 "PR"     :a3 "PRI"    :code "630"}
 {:nation "QATAR"                                          :a2 "QA"     :a3 "QAT"    :code "634"}
 {:nation "REUNION"                                        :a2 "RE"     :a3 "REU"    :code "638"}
 {:nation "ROMANIA"                                        :a2 "RO"     :a3 "ROU"    :code "642"}
 {:nation "RUSSIAN FEDERATION"                             :a2 "RU"     :a3 "RUS"    :code "643"}
 {:nation "RWANDA"                                         :a2 "RW"     :a3 "RWA"    :code "646"}
 {:nation "SAINT HELENA"                                   :a2 "SH"     :a3 "SHN"    :code "654"}
 {:nation "SAINT KITTS AND NEVIS"                          :a2 "KN"     :a3 "KNA"    :code "659"}
 {:nation "SAINT LUCIA"                                    :a2 "LC"     :a3 "LCA"    :code "662"}
 {:nation "SAINT PIERRE AND MIQUELON"                      :a2 "PM"     :a3 "SPM"    :code "666"}
 {:nation "SAINT VINCENT AND THE GRENADINES"               :a2 "VC"     :a3 "VCT"    :code "670"}
 {:nation "SAMOA"                                          :a2 "WS"     :a3 "WSM"    :code "882"}
 {:nation "SAN MARINO"                                     :a2 "SM"     :a3 "SMR"    :code "674"}
 {:nation "SAO TOME AND PRINCIPE"                          :a2 "ST"     :a3 "STP"    :code "678"}
 {:nation "SAUDI ARABIA"                                   :a2 "SA"     :a3 "SAU"    :code "682"}
 {:nation "SENEGAL"                                        :a2 "SN"     :a3 "SEN"    :code "686"}
 {:nation "SERBIA AND MONTENEGRO"                          :a2 "CS"     :a3 "SCG"    :code "891"}
 {:nation "SEYCHELLES"                                     :a2 "SC"     :a3 "SYC"    :code "690"}
 {:nation "SIERRA LEONE"                                   :a2 "SL"     :a3 "SLE"    :code "694"}
 {:nation "SINGAPORE"                                      :a2 "SG"     :a3 "SGP"    :code "702"}
 {:nation "SLOVAKIA"                                       :a2 "SK"     :a3 "SVK"    :code "703"}
 {:nation "SLOVENIA"                                       :a2 "SI"     :a3 "SVN"    :code "705"}
 {:nation "SOLOMON ISLANDS"                                :a2 "SB"     :a3 "SLB"    :code "090"}
 {:nation "SOMALIA"                                        :a2 "SO"     :a3 "SOM"    :code "706"}
 {:nation "SOUTH AFRICA"                                   :a2 "ZA"     :a3 "ZAF"    :code "710"}
 {:nation "SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS"   :a2 "GS"     :a3 "SGS"    :code "239"}
 {:nation "SPAIN"                                          :a2 "ES"     :a3 "ESP"    :code "724"}
 {:nation "SRI LANKA"                                      :a2 "LK"     :a3 "LKA"    :code "144"}
 {:nation "SUDAN"                                          :a2 "SD"     :a3 "SDN"    :code "736"}
 {:nation "SURINAME"                                       :a2 "SR"     :a3 "SUR"    :code "740"}
 {:nation "SVALBARD AND JAN MAYEN ISLANDS"                 :a2 "SJ"     :a3 "SJM"    :code "744"}
 {:nation "SWAZILAND"                                      :a2 "SZ"     :a3 "SWZ"    :code "748"}
 {:nation "SWEDEN"                                         :a2 "SE"     :a3 "SWE"    :code "752"}
 {:nation "SWITZERLAND"                                    :a2 "CH"     :a3 "CHE"    :code "756"}
 {:nation "SYRIAN ARAB REPUBLIC"                           :a2 "SY"     :a3 "SYR"    :code "760"}
 {:nation "TAIWAN"                                         :a2 "TW"     :a3 "TWN"    :code "158"}
 {:nation "TAJIKISTAN"                                     :a2 "TJ"     :a3 "TJK"    :code "762"}
 {:nation "TANZANIA, UNITED REPUBLIC OF"                   :a2 "TZ"     :a3 "TZA"    :code "834"}
 {:nation "THAILAND"                                       :a2 "TH"     :a3 "THA"    :code "764"}
 {:nation "TIMOR-LESTE"                                    :a2 "TL"     :a3 "TLS"    :code "626"}
 {:nation "TOGO"                                           :a2 "TG"     :a3 "TGO"    :code "768"}
 {:nation "TOKELAU"                                        :a2 "TK"     :a3 "TKL"    :code "772"}
 {:nation "TONGA"                                          :a2 "TO"     :a3 "TON"    :code "776"}
 {:nation "TRINIDAD AND TOBAGO"                            :a2 "TT"     :a3 "TTO"    :code "780"}
 {:nation "TUNISIA"                                        :a2 "TN"     :a3 "TUN"    :code "788"}
 {:nation "TURKEY"                                         :a2 "TR"     :a3 "TUR"    :code "792"}
 {:nation "TURKMENISTAN"                                   :a2 "TM"     :a3 "TKM"    :code "795"}
 {:nation "TURKS AND CAICOS ISLANDS"                       :a2 "TC"     :a3 "TCA"    :code "796"}
 {:nation "TUVALU"                                         :a2 "TV"     :a3 "TUV"    :code "798"}
 {:nation "UGANDA"                                         :a2 "UG"     :a3 "UGA"    :code "800"}
 {:nation "UKRAINE"                                        :a2 "UA"     :a3 "UKR"    :code "804"}
 {:nation "UNITED ARAB EMIRATES"                           :a2 "AE"     :a3 "ARE"    :code "784"}
 {:nation "UNITED KINGDOM"                                 :a2 "GB"     :a3 "GBR"    :code "826"}
 {:nation "UNITED STATES"                                  :a2 "US"     :a3 "USA"    :code "840"}
 {:nation "UNITED STATES MINOR OUTLYING ISLANDS"           :a2 "UM"     :a3 "UMI"    :code "581"}
 {:nation "URUGUAY"                                        :a2 "UY"     :a3 "URY"    :code "858"}
 {:nation "UZBEKISTAN"                                     :a2 "UZ"     :a3 "UZB"    :code "860"}
 {:nation "VANUATU"                                        :a2 "VU"     :a3 "VUT"    :code "548"}
 {:nation "VATICAN CITY STATE (HOLY SEE)"                  :a2 "VA"     :a3 "VAT"    :code "336"}
 {:nation "VENEZUELA"                                      :a2 "VE"     :a3 "VEN"    :code "862"}
 {:nation "VIET NAM"                                       :a2 "VN"     :a3 "VNM"    :code "704"}
 {:nation "VIRGIN ISLANDS (BRITISH)"                       :a2 "VG"     :a3 "VGB"    :code "092"}
 {:nation "VIRGIN ISLANDS (U.S.)"                          :a2 "VI"     :a3 "VIR"    :code "850"}
 {:nation "WALLIS AND FUTUNA ISLANDS"                      :a2 "WF"     :a3 "WLF"    :code "876"}
 {:nation "WESTERN SAHARA"                                 :a2 "EH"     :a3 "ESH"    :code "732"}
 {:nation "YEMEN"                                          :a2 "YE"     :a3 "YEM"    :code "887"}
 {:nation "ZAMBIA"                                         :a2 "ZM"     :a3 "ZMB"    :code "894"}
 {:nation "ZIMBABWE"                                       :a2 "ZW"     :a3 "ZWE"    :code "716"}]
